body {
    width: 980px;
    background-image: url('/img/6d88ba056ad66378e8ec95c341004065.jpg');
    background-size: auto;
}

#container {
    padding: 0;
    padding-bottom: 64px;
    margin: 0;
    background-image: url('/img/29e8144a9316ea85fc887cc6a2bd40f6.jpg');
    position: relative;
    min-height: 100vh;
    box-shadow: 10px 10px black;
    box-sizing: border-box;
}

.content {
    margin: 30px;
    background-color: papayawhip;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* background-attachment: fixed; */
}

.catalogue {
    float: left;
    margin: 30px;
    background-color: papayawhip;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content::after {
    content: "";
    display: table-caption;
    clear: both;
}

header,
footer {
    background-color: rgb(50, 194, 194);
    background-image: url('/img/29e8144a9316ea85fc887cc6a2bd40f6.jpg');
    color: rgb(7, 7, 7);
    width: 100%;
}

header {
    position: relative;
}

header h1 {
    display: inline-block;
    font-style: bold;
}

header nav {
    font-size: 18px;
    position: absolute;
    right: 0;
    bottom: 8px;
}

header nav>* {
    float: left;
}

footer {
    padding: 0.5em;
    width: 100%;
    font-weight: bolder;
    position: fixed;
    color: rgb(7, 7, 7);
    text-align: center;
    left: 0;
    bottom: 0;
}

.nav-buttons a {
    margin: 0 0.5em;
}

.nav-buttons a:hover {
    cursor: pointer;
    color: rgb(6, 143, 40);
    font-weight: bolder;
    font-size: 20px;
    position: relative;
}

.home:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(204, 248, 204);
    cursor: pointer;
}

#user,
#guest {
    margin: 0;
    padding: 0;
}